
<div class="card text-center" style="width: 100%; border-radius: 20px; ">
    <div class="card-header" style="border-radius: 20px 20px 0px 0px; background-color:#D97E96; color: white;"> Tela de Autenticação</div>
    <div class="Card-body">
        <form [formGroup]="loginForm">
            <mat-form-field class="placeholder mt-4" style="width: 80%;">
                <input matInput placeholder="Usuario" formControlName="user">
            </mat-form-field>
            <mat-form-field class="placeholder" style="width: 80%;">
                <input matInput placeholder="Senha" type="password" formControlName="password">
            </mat-form-field>

            <div>
                <mat-dialog-actions class="d-grid gap-2 d-md-flex justify-content-md-center m-2">
                    <button class="btn btn-outline-danger" role="button" type="button"
                        (click)="onSubmit()">Logar</button>
                    <button class="btn btn-outline-danger" role="button" type="button"
                    (click)="cadastrar()">Cadastrar</button>
                    <button mat-button mat-dialog-close class="btn btn-outline-danger" role="button"
                        type="button">Sair</button>
                </mat-dialog-actions>
            </div>
        </form>
    </div>
</div>