<div class="row g-4 justify-content-evenly m-5">
  <div *ngFor="let agrupamento of agrupamentoTarefas" class="col-3" style="min-width: 300px; max-width: fit-content;">

    <div cdkDropListGroup class="box-list">
      <div class="p-4">
        <h2> {{agrupamento.lista}}
          <button class="btn btn-outline" type="button"
            (click)="openDialog()"><mat-icon>add_circle_outline</mat-icon></button>
        </h2>

        <div cdkDropList [cdkDropListData]="agrupamento.tasks" (cdkDropListDropped)="drop($event)"
          (id)="agrupamento.lista">
          <div class="box" *ngFor="let tarefa of agrupamento.tasks" cdkDrag>
            <mat-checkbox (click)="movetarefaDone(agrupamento, tarefa)">{{tarefa.nomeTarefa}}</mat-checkbox>
            <button class="btn btn-outline" (click)="openDialogWithData(tarefa)">
              <mat-icon>create</mat-icon>
            </button>
            <button class="btn btn-outline" (click)="excluir(tarefa.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="p-4">
        <h2>Concluído</h2>

        <div cdkDropList [cdkDropListData]="agrupamento.done" (cdkDropListDropped)="drop($event)">
          <div class="box" *ngFor="let dones of agrupamento.done" cdkDrag>
            <mat-checkbox (click)="movetarefaTodo(agrupamento, dones)" [(ngModel)]="dones.checked"> {{dones.nomeTarefa}}
            </mat-checkbox>
            <button class="btn btn-outline" (click)="openDialogWithData(dones)">
              <mat-icon>create</mat-icon>
            </button>
            <button class="btn btn-outline" (click)="excluir(dones.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>